.input_task{
    width: 70%;
    margin: 2% auto;
}

.Tasks{
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 1fr;

}

.list-Decoration{
    list-style: none;
    width: 70%;
    border: 1px solid green;
    margin: 2% auto 0;
    border-radius: 5px;
}

.Tasks_text{
    display: flex;
    flex-direction: column;
}

